USE [sql_project_1]
GO
/****** Object:  Table [dbo].[sale_project_1]    Script Date: 6/14/2026 4:32:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale_project_1](
	[transactions_id] [int] NOT NULL,
	[sale_date] [date] NOT NULL,
	[sale_time] [time](7) NOT NULL,
	[customer_id] [int] NOT NULL,
	[gender] [nvarchar](15) NULL,
	[age] [int] NULL,
	[category] [nvarchar](15) NOT NULL,
	[quantity] [int] NULL,
	[price_per_unit] [float] NULL,
	[cogs] [float] NULL,
	[total_sale] [float] NULL,
 CONSTRAINT [PK_du_lieu_sale_project_1] PRIMARY KEY CLUSTERED 
(
	[transactions_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[sale_project_1] ([transactions_id], [sale_date], [sale_time], [customer_id], [gender], [age], [category], [quantity], [price_per_unit], [cogs], [total_sale]) VALUES (1, CAST(N'2022-12-16' AS Date), CAST(N'19:10:00' AS Time), 50, N'Male', 34, N'Beauty', 3, 50, 16, 150)
INSERT [dbo].[sale_project_1] ([transactions_id], [sale_date], [sale_time], [customer_id], [gender], [age], [category], [quantity], [price_per_unit], [cogs], [total_sale]) VALUES (2, CAST(N'2022-06-24' AS Date), CAST(N'10:07:00' AS Time), 104, N'Female', 26, N'Clothing', 2, 500, 135, 1000)
INSERT [dbo].[sale_project_1] ([transactions_id], [sale_date], [sale_time], [customer_id], [gender], [age], [category], [quantity], [price_per_unit], [cogs], [total_sale]) VALUES (3, CAST(N'2022-06-14' AS Date), CAST(N'07:08:00' AS Time), 114, N'Male', 50, N'Electronics', 1, 30, 8.1000003814697266, 30)
GO
